<form [formGroup]="movieForm" action="">
  <!-- Title field start -->
  <mat-form-field class="full-width">
    <input matInput formControlName="title" type="text" placeholder="Title">
    <mat-error *ngIf="!movieForm.controls['title'].valid && movieForm.controls['title'].touched">
      <span *ngIf="movieForm.controls['title'].hasError('required')">This field is required</span>
      <span *ngIf="movieForm.controls['title'].hasError('pattern')">Only alphabetic charcters and number allowed</span>
      <span *ngIf="movieForm.controls['title'].hasError('titleExist')">Title already exist</span>
    </mat-error>
  </mat-form-field>
  <!-- Title field End -->

  <!-- Genre field start -->
  <mat-form-field class="full-width">
    <input matInput formControlName="genre" type="text" placeholder="Genres">
    <mat-error *ngIf="!movieForm.controls['genre'].valid && movieForm.controls['genre'].touched">
      <span *ngIf="movieForm.controls['genre'].hasError('required')">This field is required</span>
      <span *ngIf="movieForm.controls['genre'].hasError('pattern')">Only alphabetic charcters and number allowed</span>
    </mat-error>
  </mat-form-field>
  <!-- Genre field End -->

  <!-- Release date field start -->
  <mat-form-field>
    <input (click)="openPicker()" formControlName="release_date" matInput readonly='true' [matDatepicker]="picker" placeholder="Release Date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker startView="multi-year" #picker></mat-datepicker>
    <mat-error *ngIf="!movieForm.controls['release_date'].valid && movieForm.controls['release_date'].touched">
      <span *ngIf="movieForm.controls['release_date'].hasError('required')">This field is required</span>
      <span *ngIf="!movieForm.controls['release_date'].hasError('required') && movieForm.controls['release_date'].hasError('Date')">Invalid date</span>
    </mat-error>
  </mat-form-field>
  <!-- Release date field End-->

  <!-- Overview -->
  <mat-form-field class="full-width">
      <textarea rows="5" matInput formControlName="overview" placeholder="Overview"></textarea>
      <mat-error *ngIf="!movieForm.controls['overview'].valid && movieForm.controls['overview'].touched">
          <span *ngIf="movieForm.controls['overview'].hasError('required')">This field is required</span>
          <span *ngIf="movieForm.controls['overview'].hasError('minlength')">At least one character is required</span>
      </mat-error>
    </mat-form-field>
    <!-- Overview END -->
    
    <!-- Production companys -->
    <mat-form-field class="full-width">
      <mat-chip-list #companiesList>
        <mat-chip
        *ngFor="let company of data.additionalData.production_companies ; let i = index"
        [removable]="true"
        (removed)="removeCompany(i)">
        {{company.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-error *ngIf="!movieForm.controls['company'].valid">
          <span *ngIf="movieForm.controls['company'].hasError('minlength')">At least one character is required</span>
          <span *ngIf="movieForm.controls['company'].hasError('pattern')">Only alphabetic charcters and number allowed</span>
      </mat-error>
      <input
      placeholder="Production Companies"
      formControlName="company"
      [matChipInputFor]="companiesList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addCompany($event)">
    </mat-chip-list>
    </mat-form-field>
  <!-- Production companys End-->
</form>
<!-- Form End -->

<!--  action Buttons  start-->
<button class="save-button" mat-raised-button color="primary" [disabled]="!movieForm.valid" (click)="save()">Save</button>
<button class="cancel-button" mat-raised-button (click)="closeDialog()">Cancel</button>
<!--  action Buttons ends-->

<!-- Closing cross -->
<button (click)="closeDialog()" class="close-button" mat-icon-button>
  <mat-icon aria-label="close">close</mat-icon>
</button>
<!-- Closing cross -->